.wrapper{
    width: 90%;
    margin: 10px auto;
}
/*header*/
.header{
    background-color: #232f3e;
    border-radius: 5px 5px 0 0;
    color: #fff;
}
    .header a{
        color: #bcbdc7;
        transition: all 0.3s linear;
    }

.topinfo{
    border-bottom: 1px solid #303e4f;
    display: flex;
    justify-content: space-between;
    
}
.accountlist{
    display: flex;  
}
.fa-icon{
    width: 20px;
   vertical-align: middle;
}
.accountlist-link{
    padding: 5px 12px;
    display: block;
   
}
.accountlist-link>i{
    padding-left: 4px;
}
.accountlist-link:hover{
    color: #fff;
}
.language{
    padding: 5px 0 0 10px;
}
 
.headerinfo{
    display: flex;
    padding: 20px;
  
}
.searchbox{
    
    flex-grow: 1;
    display: flex;
    height: 40px;
    justify-content: center;
}
.categorylist{
    border: none;
    border-radius: 0 15px 15px 0;
    padding: 8px 15px;
}
.search-input{
    border: none;
    padding: 8px 15px;
  
  
}
.btnsearch{

    padding: 10px 15px;
  color: #fff !important;
    background-color: #f4a137;
    border-radius: 20px 0 0 20px;

   
}
